<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <p>
        <label>name</label><br />
        <input type="text" name="name" value="{{album.name}}" />
      </p>
      <p>
        <label>author</label><br />
        <input type="text" name="author" value="{{album.author}}" />
      </p>
      <p>
        <label>genre</label><br />
        <input type="text" name="genre" value="{{album.genre}}" />
      </p>
      <p>
        <label>year</label><br />
        <input type="date" name="year" value="{{album.year}}" />
      </p>
      <input type="submit" value="Сохранить" />
    </form>
  </body>
</html>
